@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

footer {
  background-color: #dbece8;
  font-family: "Roboto", sans-serif;
  height: auto;
  padding-top: 70px;
  padding-bottom: 28px;
}

footer ul li a,
footer ul li {
  color: #081830;
  text-decoration: none;
  transition: 0.2s;
  display: block;
}

.heading__block {
  height: 258px;
  position: relative;
}

.heading__block--first .heading__block--text {
  margin-top: 97px;
  max-width: 163px;
  position: relative;
}

.heading__block--logo {
  background-image: url(./img/logo-graf.png);
  width: 172px;
  height: 100px;
  position: absolute;
  top: -115px;
}

.heading__block--title {
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 10px;
}

.heading__block--link {
  font-size: 16px;
  line-height: 160%;
  text-decoration: none;
  color: #333333;
}

.heading__block--text {
  font-size: 16px;
  line-height: 140%;
  color: #444c58;
}

li .heading__block--text {
  font-size: 16px;
  line-height: 140%;
  color: #4d4d4d;
}

.heading__block--location {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #444c58;
  margin-top: 45px;
  margin-bottom: 8px;
}

.heading__block--tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #081830;
}

.heading__block--tel {
  font-size: 22px;
}

.heading__block--social {
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #081830;
}

.heading__social--inst {
  background-image: url(./img/logo-inst.png);
  width: 36px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
  margin-top: 5px;
  transition: 0.2s;
}

.heading__social--ok {
  background-image: url(./img/logo-ok.png);
  width: 36px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
  margin-top: 5px;
  transition: 0.2s;
}

.heading__social--vk {
  background-image: url(./img/logo-vk.png);
  width: 36px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 5px;
  transition: 0.2s;
}

.heading__social--logo a div:hover {
  opacity: 0.7;
}

.copyright {
  font-size: 14px;
  line-height: 140%;
  color: #7e9a93;
  bottom: 0;
  position: absolute;
}

.heading__copyright--year {
  line-height: 140%;
  color: #444c58;
}

.heading__copyright--logo {
  background-image: url(./img/logo-tsunami.png);
  width: 130px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -10px;
}

.heading__social--adaptive {
  display: none;
}
.heading__tel--adaptive {
  display: none;
}

.two__block .heading__social--adaptive {
  display: none;
}

.heading__location--adaptive {
  display: none;
}

.three__block .heading__info,
.four__block .heading__tsunami--logo {
  display: none;
}

.two__block .heading__about {
  display: none;
}

.two__block .heading__info {
  display: none;
}

.heading__block--first .heading__social--adaptive {
  display: none;
}

.heading__block--first .heading__location--adaptive {
  display: none;
}

.heading__block--first .heading__copyright--link {
  display: none;
}

.heading__block--first .lust {
  display: none;
}

@media (max-width: 1200px) {
  .heading__block {
    height: 320px;
  }

  .heading__block--social {
    font-size: 14px;
    margin-right: 20px;
  }

  .heading__social--inst,
  .heading__social--vk,
  .heading__social--ok {
    width: 32px;
    height: 32px;
  }

  .five__block {
    display: none;
  }

  .heading__block ul {
    padding-left: 0;
  }
  .heading__social--adaptive {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  li .heading__block--text {
    font-size: 14px;
  }

  .heading__copyright--info .copyright {
    font-size: 12px;
    line-height: 84%;
  }

  .heading__copyright--info {
    width: 106px;
  }

  .heading__copyright--logo {
    display: none;
  }

  .four__block .heading__tsunami--logo {
    position: absolute;
    bottom: 0;
    left: 100px;
    display: block;
  }
}
@media (max-width: 1000px) {
  .heading__block {
    height: 359px;
  }

  .heading__tel--adaptive {
    display: block;
    margin-top: 90px;
  }

  .heading__tel--adaptive a {
    text-decoration: none;
    color: #333333;
  }

  .four__block {
    display: none;
  }

  .two__block .heading__social--adaptive {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
  }

  .heading__location--adaptive {
    margin-top: 16px;
    display: block;
    width: 240px;
  }

  .three__block .heading__info {
    display: flex;
  }
  .three__block .heading__tsunami--logo {
    position: absolute;
    bottom: 0;
    left: 135px;
  }
}

@media (max-width: 767px) {
  .container{
  padding-left: 20px;
  padding-right: 20px;  
  }
  
  footer {
    height: 599px;
  }

  .three__block {
    display: none;
  }

  .heading__block {
    height: 510px;
  }

  .two__block .heading__about {
    display: block;
  }

  .two__block .heading__social--adaptive {
    display: none;
  }

  .two__block ul .heading__copyright--link {
    display: none;
  }

  .two__block {
    position: relative;
  }

  .two__block .heading__info {
    display: block;
  }

  .two__block .copyright {
    position: absolute;
    bottom: 30px;
    text-align: end;
    left: 77px;
    width: 132px;
  }

  .two__block .heading__tsunami--logo {
    position: absolute;
    bottom: 0;
    left: 80px;
  }

  .heading__block--first .heading__social--adaptive {
    display: block;
  }
  .heading__block--first .heading__location--adaptive {
    display: block;
  }

  .heading__block--first .heading__block--location {
    margin-top: 21px;
  }

  .heading__location--adaptive .heading__block--text {
    margin-top: 5px;
  }

  .heading__tel--adaptive {
    margin-top: 30px;
  }

  .heading__copyright--year {
    bottom: 20px;
  }

  .heading__block--first .heading__copyright--link {
    display: block;
  }
}

@media (max-width: 480px) {
  footer {
    height: 930px;
  }

  .two__block {
    display: none;
  }

  .heading__block--first .lust {
    display: block;
  }

  .heading__block--logo {
    top: -41px;
    right: 34vw;
}

  .heading__block--first .heading__block--text {
       margin-left: 57vw;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 14px;
}
  
  .heading__location--adaptive .heading__block--text{
  margin-left: 0;
  }
  .heading__block--title{
  font-size:16px
  }
  .heading__block--link{
  font-size: 14px
  }

  .heading__tel--adaptive {
    margin-bottom: 0;
  }

  .heading__copyright--year {
    bottom: -267px;
  }
  .heading__block--first .heading__copyright--link {
    display: block;
    bottom: -284px;
  }
  .lust .copyright  {
    bottom: -342px;
    width: 137px;
  }

  .lust .heading__tsunami--logo {
    position: absolute;
    bottom: -340px;
    left: 175px;
  }
}
